:root {
    --min-color: #314584;
    --weight-100: 100;
    --weight-300: 300;
    --weight-400: 400;
    --weight-700: 700;
    --weight-900: 900;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
/* font family here =>> */ font-family: 'Lato', sans-serif;; /* 100 - 300 - 400 - 700 - 900 */
}

.containar {
	margin:0 auto;
}

/* small */

@media (min-width: 767px) {
    .containar {width: 750px}
}

/* mediume */

@media (min-width: 992px) {
    .containar {width: 970px;}
}

/* larage */

@media (min-width: 1200px) {
    .containar {
        width: 1170px;
    }
}

/*start header*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.header .logo {
    padding: 20px;
    
}

.header .logo img {
    width: 150px;
    height: 40px;
}

.header .list {
    width: 60%;
    text-transform: capitalize;
    font-weight: var(--weight-900);
}

.header .list ul {
    display: flex;
    list-style: none;
}

.header .list ul li {
    padding: 20px;
    font-size: 18px;
}

.header .list a {
    text-decoration: none;
    color: var(--min-color);
}

.header .right-side {
    padding: 20px ;
    display: flex;
}

.header .right-side select {
    text-transform: uppercase;
    border: none;
    color:inherit;
    outline: none;
    cursor: pointer;
}

.header .right-side select option {
    border: none;
    outline: none;
    cursor: pointer;
}

.header .right-side .right-side-button {
    text-transform: capitalize;
    margin-left: 15px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    color: red;
    background-color: white;
}
.header .right-side  i {
    margin-left: 10px;
}

@media (max-width: 767px)  {
    .header {
        display: block;
        padding: 0;
        text-align: center;
    }

    .header .logo {
        padding: 20px 0 0;
    }

    .header .list {
        width: 100%;
        font-size: 26px;
    }

    .header .text {
        width: 100%;
    }

    .header .list ul {
        display: block;
        padding-inline-start: 0;
        margin: 0;
    }

    .header .list ul li {
        padding: 20px;
        font-size: 18px;
    }

    .header .right-side {
        padding: 0;
        display: block;
        font-size: 18px;
    }
}
/* end header*/
/* start bannar */

.banner {
    padding: 0 30px;
}

.banner .containar {
    display: flex;
    justify-content: space-between;
}

.banner .text {
    width: 30%;
    text-transform: capitalize;

}

.banner .text h1 {
    margin-top: 50%;
    font-size: 44px;
    color: var(--min-color);
    font-weight: var(--weight-900);
}

.banner .text p {
    font-weight: var(--weight-300);
    font-size: 16px;
}

.banner .text button {
    font-weight: var(--weight-700);
    background-color: #FF3946;
    color: white;
    text-transform: capitalize;
    padding: 6px;
    border: none;
}

.banner .text a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--min-color);
    font-size: 18px;
}

.banner .image {
    width: 70%;
    text-align: right;
    overflow: hidden;
}
.banner .image img {
    border-style: none;
    width: 90%;
    height: 455px;
}
@media (max-width: 767px) {
    .banner {
        padding: 0;
        margin-top: 25px;
    }
    .banner .containar {
        display: block;
        text-align: center;
    }

    .banner .text {
        width: 100%;
    }
    .banner .text h1 {
        font-size: 44px;
    margin-top: 0;}

    .banner .text p {
        font-weight: var(--weight-400);
        font-size: 18px;
    }

        .banner .text button {  
            padding: 20px;
            letter-spacing: 1.5px;
            margin-bottom: 15px;
        }

        .banner .text a {
            display: block;
            font-size: 20px;
        }

        .banner .image {
        width: 100%;
        text-align: center;
        }

        .banner img {
            margin-top: 25px;
        }
}
/* end bannar */
/*start about*/

.about {

}

.about .containar {

}

/*end about */